html {
  height: 100%;
}

body {
  min-height: 100%;
}

#container {
  background-color: blanchedalmond;
  margin: 0px;
  height: 500px;
  width: 500px;
  display: grid;
  border: 5px solid black;
}

#divGrid {
  background-color: white;
  height: auto;
  width: auto;
  margin: 0px;
  border: 0px;

}

#btn-el {
margin-top: 20px;
}
/* #divGrid:hover { */
/* background-color: black;  */
/* }  */